header {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  backdrop-filter: blur(4px);
  z-index: 2;
}

.logo {
  background-color: transparent;
  color: #ffffff;
}

.logo h3 {
  font-family: "Unbounded";
  font-size: 22px;
  font-weight: 500;
}
.nav {
  transition: all 0.3s;
}
.nav-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 60px;
  font-family: "Montserrat";
}

.nav-list__item {
  position: relative;

  color: rgba(255, 255, 255, 0.8);

  cursor: pointer;
}

.nav-list__item a {
  text-decoration: none;
  color: inherit;
  padding: 10px 20px;
  display: block;
  border-radius: 50px;
}

.nav-list__item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(
    135deg,
    rgba(84, 66, 221, 0.1),
    rgba(200, 146, 246, 0.1)
  );
  opacity: 0;
  transition: opacity 0.3s ease-out;
  pointer-events: none;
}

.nav-list__item:hover::after {
  opacity: 1;
}

.nav-list__item:active::after {
  background: none;
}

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.btn-group__button_tg {
  position: relative;
  height: 36px;
  width: 36px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 50%;
}

.btn-group__button_tg img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-55%, -50%);
  user-select: none;
}

.btn-group__button_tg::before {
  position: absolute;
  content: "";
  inset: 0;

  border-radius: 50%;
  border: 1px solid transparent;
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1) 30%,
      rgba(255, 255, 255, 0.3) 100%
    )
    border-box;

  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.btn-group__button_tg::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0;
  transition: opacity 0.3s ease-out, box-shadow 0.3s ease-out;
}

.btn-group__button_tg:hover::after {
  opacity: 1;
  box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.05);
}

.btn-group__button_tg:active::after {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.1)
  );
  box-shadow: none;
}

.btn-group__button_tg:active::before {
  border: none;
}

.btn-group__button_tg:active {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.1)
  );
}

.btn-group__button_start {
  position: relative;
  padding: 16px 36px;
  border-radius: 50px;
  background: linear-gradient(135deg, #6715ca, #363df5);

  font-family: "Unbounded";
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.btn-group__button_start::before {
  position: absolute;
  content: "";
  inset: 0;

  border-radius: 50px;
  border: 1px solid transparent;
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.3)
    )
    border-box;

  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.btn-group__button_start:hover::after {
  opacity: 1;
  box-shadow: 0 12px 30px 0 rgba(123, 41, 222, 0.251),
    0 5px 10px 0 rgba(54, 61, 245, 0.102);
}

.btn-group__button_start:active::after {
  background: linear-gradient(
    135deg,
    rgba(102, 21, 202, 0.5),
    rgba(54, 60, 245, 0.5)
  );
  box-shadow: none;
}

.btn-group__button_start:active::before {
  border: none;
}

.btn-group__button_start:active {
  background: linear-gradient(
    135deg,
    rgba(102, 21, 202, 0.5),
    rgba(54, 60, 245, 0.5)
  );
}

.btn-group__button-menu {
  background: transparent;
  color: #ffffff;
  display: none;
}

@media only screen and (max-width: 1320px) {
  .logo h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1280px) {
  header {
    padding: 10px 20px;
  }

  .nav-list__item a {
    padding: 10px;
    white-space: nowrap;
  }

  .nav-list {
    gap: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .nav {
    position: absolute;
    right: 0;
    top: 56px;
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
  }

  .nav--open {
    opacity: 100;
    pointer-events: auto;
  }

  .nav-list {
    flex-direction: column;
    border-radius: 20px 0px 0px 20px;
    text-align: right;
    background: linear-gradient(
      353deg,
      #201d26 50.62%,
      rgba(32, 30, 38, 0) 83.37%
    );
    padding: 20px;
  }
  .nav-list__item-lg {
    display: none;
  }
  .btn-group__button_start {
    display: none;
  }

  .btn-group__button-menu {
    display: block;
  }
}

@media only screen and (max-width: 640px) {
  .logo h3 {
    font-size: 16px;
  }

  .nav-list__item a {
    white-space: nowrap;
    padding: 0 10px;
  }
}
