@import "products.css";
@import "product-info.css";

.solution-block-container {
  z-index: 1000;
}

.solution-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 0 80px;
}

.solution-block__title {
  font-family: 'Unbounded';
  font-weight: 500;
  font-size: 42px;
  line-height: 54.6px;
  text-align: center;
  color: #FFFFFF;
}

.solution-block__content {
  display: flex;
  width: 100%;
  gap: 20px;
}

.solution-block__content_services {
  flex-direction: row;
}

.solution-block__content_tariffs {
  flex-direction: row-reverse;
}

.solution-block .switch {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  border-radius: 87px;
}

.solution-block .switch_tariffs {
  background: linear-gradient(270deg, rgba(32, 29, 38, 1), rgba(32, 29, 38, 0.2));
}

.solution-block .switch_services {
  background: linear-gradient(90deg, rgba(32, 29, 38, 1), rgba(32, 29, 38, 0.2));
}

.switch__button {
  position: relative;
  width: 150px;
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 23px;
  padding: 12px 32px;
  border-radius: 50px;
  color: #FFFFFF;
  background: transparent;

  z-index: 1000;
}

.switch__button:disabled {
  position: relative;
  background: linear-gradient(135deg, rgba(200, 146, 246, 0.4), rgba(84, 66, 221, 0.4));
  box-shadow:
    0 0 6px 0 rgba(200, 146, 246, 0.2),
    0 1px 20px 0 rgba(200, 146, 246, 0.15);
}

.switch__button:disabled::before {
  position: absolute;
  content: '';
  inset: 0;

  border-radius: 50px;
  border: 1px solid transparent;
  background: linear-gradient(135deg, rgba(200, 146, 246, 0.03), rgba(200, 146, 246, 0.3)) border-box;

  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  z-index: -1000;
}

.switch__button:disabled:hover {
  cursor: default;
}

.switch__button:not(:disabled)::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.08));
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.switch__button:not(:disabled):hover::before {
  opacity: 1;
}